src/xsd/cache/xsd/localhost_8080/totales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
xmlns:xi="http://www.w3.org/2003/XInclude" 
xmlns="http://dgi-fep.mef.gob.pa" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" id="FacturaElectronica" 
targetNamespace="http://dgi-fep.mef.gob.pa" elementFormDefault="qualified">



  <!--
  
        *************************************
  
            Grupo D
      
        *************************************
  
  -->

  <!--Subtotales y Totales de la Transacción-->
  <xs:complexType name="gTotType">
    <xs:annotation>
      <xs:documentation>
        Definición de tipo para el grupo:
        D01: Grupo con información de subtotales y totales
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="dTotNeto" type="montoTipo01" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D02: Suma de los precios antes de impuesto
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dTotITBMS" type="montoTipo01" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D03: Total del ITBMS
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dTotISC" type="montoTipo01" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D04: Total del ISC
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dTotGravado" type="montoTipo01" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D05: Suma total de monto gravado
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dTotDesc" type="montoTipo01" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D06: Suma de los descuentos y bonificaciones concedidos sobre el valor total de la factura
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dTotAcar" type="montoTipo01" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D07: Valor del acarreo cobrado en el precio total
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dTotSeg" type="montoTipo01" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D08: Valor del seguro cobrado en el precio total
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dVTot" type="montoTipo01" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D09: Valor total de la factura
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dTotRec" type="montoTipo01" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D10: Suma de los valores recibidos
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dVuelto" type="montoTipo01" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D11: Vuelto entregado al cliente
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="iPzPag" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D12: Tiempo de pago
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Inmediato</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Plazo</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>Mixto</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dNroItems" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D13: Número total de ítems de la factura
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:totalDigits value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dVTotItems" type="montoTipo01" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            D14: Suma total de los ítems con los montos de los impuestos
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="gDescBonif" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation>
            Definición de tipo para el grupo:
            D20: Grupo de datos de que describen descuentos o bonificaciones adicionales aplicados a la factura
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>

            <xs:element name="dDetalDesc">
              <xs:annotation>
                <xs:documentation>
                  D200: Descripción de descuentos o bonificaciones adicionales aplicados a la factura
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="500"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="dValDesc" type="montoTipo01">
              <xs:annotation>
                <xs:documentation>
                  D201: Monto Descuentos/Bonificaciones y otros ajustes
                </xs:documentation>
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Final de <xs:element name="gDescBonif">  -->

      <xs:element name="gFormaPago" minOccurs="1" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>
            Definición de tipo para el grupo:
            D30: Grupo de formas de pago de la factura
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>

            <xs:element name="iFormaPago" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D301: Forma de pago de la factura
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="01">
                    <xs:annotation>
                      <xs:documentation>Crédito</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="02">
                    <xs:annotation>
                      <xs:documentation>Contado</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="03">
                    <xs:annotation>
                      <xs:documentation>Tarjeta Crédito</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="04">
                    <xs:annotation>
                      <xs:documentation>Tarjeta Débito</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="05">
                    <xs:annotation>
                      <xs:documentation>Tarjeta Fidelidad</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="06">
                    <xs:annotation>
                      <xs:documentation>Vale devolución</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="07">
                    <xs:annotation>
                      <xs:documentation>Vale regalo</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
          <xs:enumeration value="08">
                    <xs:annotation>
                      <xs:documentation>Transf. / Depósito a cta. bancaria</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="99">
                    <xs:annotation>
                      <xs:documentation>Otro</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="dFormaPagoDesc" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D302: Descripción de forma de pago no listada en el formato
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:annotation>
                    <xs:documentation>Obligatorio si existe D301(iFormaPago)</xs:documentation>
                  </xs:annotation>
                  <xs:minLength value="10"/>
                  <xs:maxLength value="100"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="dVlrCuota" type="montoTipo01" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D303: Valor de la fracción pagada utilizando esta forma de pago
                </xs:documentation>
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Final de <xs:element name="gFormaPago">  -->

      <xs:element name="gRetenc" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Definición de tipo para el grupo:
            D40: Grupo datos cuando a la factura aplican retenciones
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cCodRetenc" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D401: Código de Retención a aplicar
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:totalDigits value="2"/>
                  <xs:enumeration value="1">
                    <xs:annotation>
                      <xs:documentation>Pago por servicio profesional al estado 100% 1</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="2">
                    <xs:annotation>
                      <xs:documentation>Pago por venta de bienes/servicios al estado 50%</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="3">
                    <xs:annotation>
                      <xs:documentation>Pago o acreditación a no domiciliado o empresa constituida en el exterior 100%</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="4">
                    <xs:annotation>
                      <xs:documentation>Pago o acreditación por compra de bienes/servicios 50%</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="7">
                    <xs:annotation>
                      <xs:documentation>Pago a comercio afiliado a sistema de TC/TD 50%</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="8">
                    <xs:annotation>
                      <xs:documentation>Otros (disminución de la retención)</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="cValRetenc" type="montoTipo01" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D402: Monto de la retención a aplicar
                </xs:documentation>
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Final de <xs:element name="gRetenc">  -->

      <xs:element name="gPagPlazo" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            Definición de tipo para el grupo:
            D50: Grupo de informaciones de pago a plazo
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>

            <xs:element name="dSecItem" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D501: Número secuencial de cada fracción de pago a plazo
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:totalDigits value="2"/>
                  <xs:minInclusive value="00"/>
                  <xs:maxInclusive value="99"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="dFecItPlazo" type="fechaTZ" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D502: Fecha de vencimiento de la fracción
                </xs:documentation>
              </xs:annotation>
            </xs:element>

            <xs:element name="dValItPlazo" type="montoTipo01" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D503: Valor de la fracción
                </xs:documentation>
              </xs:annotation>
            </xs:element>

            <xs:element name="dInfPagPlazo" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  D504: Informaciones de interés del emitente con respeto a  esta fracción de pago
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="15"/>
                  <xs:maxLength value="1000"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- Final de <xs:element name="gPagPlazo">  -->


      <!--- Grupo de Total Otras Tasas o Impuestos (OTI) del Item -->
      <xs:element name="gOTITotal" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>D60:Grupo de Total Otras Tasas o Impuestos (OTI) del Item</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>

            <xs:element name="dCodOTITotal" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>D601:Código de Otras Tasas o Impuesto del total del ítem</xs:documentation>
              </xs:annotation>

              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="01">
                    <xs:annotation>
                      <xs:documentation>
                        SUMA911
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="02">
                    <xs:annotation>
                      <xs:documentation>
                        Tasa Portabilidad Numérica
                      </xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>

            <xs:element name="dValOTITotal" type="montoTipo01" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>D602:Monto de Otras Tasas o Impuesto del total del ítem</xs:documentation>
              </xs:annotation>
            </xs:element>

          </xs:sequence>
        </xs:complexType>

      </xs:element>


      <!-- Final de <xs:element name="gOTITotal">  -->


    </xs:sequence>
  </xs:complexType>
  <!-- Final de <xs:complexType name="gTotType">  -->


  <!--  *************************************
  
            GRUPO E
            
        *************************************
        
  -->
  <!--Vehículos Nuevos-->
  <xs:complexType name="gVehicNuevoType">

    <xs:sequence>

      <xs:element name="iModOpVN" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            E050: Modalidad de la operación de venta de vehículos nuevos
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="01">
              <xs:annotation>
                <xs:documentation>Venta a Representante</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="02">
              <xs:annotation>
                <xs:documentation>venta a consumidor final</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="03">
              <xs:annotation>
                <xs:documentation>venta a gobierno</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="04">
              <xs:annotation>
                <xs:documentation>venta a flota de vehículos</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
              <xs:annotation>
                <xs:documentation>otra</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dModOpVNDesc" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            E051: Modalidad de la operación de venta de vehículos nuevos no listada en el formato
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dChasi" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E052:Chasis del vehículo</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="17"/>
            <xs:maxLength value="17"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dColorCod" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E053:Color del vehículo</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dColorNomb" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E054:Descripción del color del vehículo</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dPotVeh" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E055:Potencia del motor (CV)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:totalDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dCilin" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E056:Capacidad del motor</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:totalDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dPesoNet" type="pesoType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E057:Peso Neto</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dPesoBruto" type="pesoType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E058:Peso Bruto</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="iCombust" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E060:Tipo de combustible</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="01">
              <xs:annotation>
                <xs:documentation>gasolina</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="02">
              <xs:annotation>
                <xs:documentation>diesel</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="03">
              <xs:annotation>
                <xs:documentation>etanol</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="08">
              <xs:annotation>
                <xs:documentation>electrico</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="09">
              <xs:annotation>
                <xs:documentation>gasolina/electico</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="99">
              <xs:annotation>
                <xs:documentation>otro</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dCombustDesc" minOccurs="0" maxOccurs="1">
        <!--FICTEC: hacer cambio de nombre en ficha tecnica-->
        <xs:annotation>
          <xs:documentation>E061:Tipo de combustible no listado en el formato</xs:documentation>
        </xs:annotation>

        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dNroMotor" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E062:Número del motor</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="21"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dCapTracc" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E063:Capacidad máxima de tracción</xs:documentation>
        </xs:annotation>

        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:pattern value="[0-9]{1,11}|[0-9]*[.][0-9]{0,4}"/>
            <xs:totalDigits value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!---->
      <xs:element name="dEntreEj" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E064:Distancia entre ejes</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:pattern value="[0-9]{1,11}|[0-9]*[.][0-9]{0,4}"/>
            <xs:totalDigits value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!---->
      <xs:element name="dAnoMod" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E065:Año del modelo de fabricación</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:totalDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dAnoFab" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E067:Año de fabricación</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:totalDigits value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="iTipoPintura" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E068:Tipo de pintura</xs:documentation>
        </xs:annotation>

        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>sólida</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>metálica</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>perla</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>fosca</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="9">
              <xs:annotation>
                <xs:documentation>otra</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dTipoPinturaDesc" minOccurs="0" maxOccurs="1">
        <!-- FICTEC: cambiar en la ficha técnica-->
        <xs:annotation>
          <xs:documentation>E069:Tipo de pintura no listada en el formato</xs:documentation>
        </xs:annotation>

        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="cTipoVehic" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E070:Tipo del vehículo</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>motocicleta</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>bus</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>camión</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>sedán</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
              <xs:annotation>
                <xs:documentation>camioneta</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
              <xs:annotation>
                <xs:documentation>pickup</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="cUsoVehic" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E071:Uso de vehículo</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Comercial</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Particular</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="iCondVehic" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E072:Condición del vehículo            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>acabado</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>semi acabado</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>inacabado</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dLotac" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E073:Capacidad máxima de pasajeros            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:totalDigits value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
  <!--Medicinas y Materias Primas Farmacéuticas-->
  <xs:complexType name="gMedicinaType">

    <xs:sequence>
      <xs:element name="dNroLote" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E101:Número de lote de medicinas y materias primas farmacéuticas</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="35"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dCtLote" type="xs:integer" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E102:Cantidad de productos en el lote de medicinas y materias primas farmacéuticas</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--Informaciones del Pedido Comercial Relacionadas Con Un Ítem de la Factura-->
  <xs:complexType name="gPedComIrType">
    <xs:sequence>
      <xs:element name="dNroPed" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E151:Número del pedido de compra</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:totalDigits value="9"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dSecItemPed" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E152:Número secuencial del ítem en el pedido</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:totalDigits value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dInfEmPedIt" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E159:Informaciones de interés del emitente con respeto al Pedido Comercial, relacionadas con un ítem de la factura</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="5000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>



  <!--  *************************************
  
            GRUPO F
            
        *************************************
        
  -->

  <!--  Campos Complementarios deUso Comercial General  -->

  <!--  Informaciones del Pedido Comercial Relacionadas con la Factura  -->
  <xs:complexType name="gPedComGlType">
    <xs:annotation>
      <xs:documentation>
        Definición de tipo para el grupo:
        F10: Grupo de detalle de Pedido Comercial global
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="dNroPed" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F101: Número del pedido de compra
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:totalDigits value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dNumAcept" minOccurs="0" maxOccurs="50">
        <xs:annotation>
          <xs:documentation>
            F102: Número de Aceptación de Pedido
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dInfEmPedGl" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F119: Informaciones de interés del emitente con respeto al Pedido Comercial global
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="5000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
  <!-- Final de <xs:complexType name="gPedComGlType">  -->

  <!--  Informaciones de Logística  -->
  <xs:complexType name="gInfoLogType">
    <xs:annotation>
      <xs:documentation>
        Definición de tipo para el grupo:
        F20: Grupo de informaciones de logística
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="dNroVols" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F201: Número de volúmenes
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:totalDigits value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dPesoTot" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F202: Peso total de la carga
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:totalDigits value="10"/>
            <xs:fractionDigits value="6"/>
            <xs:pattern value="([0-9]{1,4})|([0-9]*[.][0-9]{2,6})"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dUnPesoTot" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F203: Unidad del peso total
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>g</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>kg</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
              <xs:annotation>
                <xs:documentation>toneladas</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
              <xs:annotation>
                <xs:documentation>libras</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dLicCamion" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F204: Licencia del vehículo de carga
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dNomTransp" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F205: Nombre o Razón social del transportista
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>


      <xs:element name="gRucTransp" type="RucType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F206: RUC del Transportista
          </xs:documentation>
        </xs:annotation>
      </xs:element>


      <xs:element name="dInfEmLog" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F249: Informaciones de interés del emitente con respeto a logística
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="5000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
  <!-- Final de <xs:complexType name="gInfoLogType">  -->

  <!--  Identificación del Local de Entrega  -->
  <xs:complexType name="gLcEntrType">
    <xs:annotation>
      <xs:documentation>
        Definición de tipo para el grupo:
        F25: Grupo de datos que identifican el local de la entrega
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>


      <xs:element name="gRucLcEntr" type="RucType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F251: RUC del Contribuyente emisor
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dNombLcEntr">
        <xs:annotation>
          <xs:documentation>
            F252: Razón Social (Persona Jurídica) o Nombre y Apellido (Persona Natural) del local de la entrega
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="dDirecLcEntr">
        <xs:annotation>
          <xs:documentation>
            F253: Dirección del local de la entrega
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="gUbiLcEntr" type="cCodUbicType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F254: Grupo que contiene o agrupo un código, corregimiento, distrito, provincia.
            Este campo es nuevo y se solicita incorporarlo en la Ficha Técnica.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dTfnLcEntr" type="telefonoType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F256: Teléfono de contacto del local de la entrega
          </xs:documentation>
        </xs:annotation>
      </xs:element>


      <xs:element name="dTfnAdLcEntr" type="telefonoType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            F257: Teléfono de contacto adicional, o alterno del local de la entrega
          </xs:documentation>
        </xs:annotation>
      </xs:element>


    </xs:sequence>
  </xs:complexType>
  <!-- Final de <xs:complexType name="gLcEntrType">  -->

  <!--  ******************************************
  
            GRUPO G
            
        ******************************************
  -->
  <!--  Campos fuera de la Firma Digital de la FE  -->
  <xs:complexType name="gNoFirmType">
    <xs:annotation>
      <xs:documentation>
        Definición de tipo para el grupo:
        G10: Grupo de Campos Fuera de la Firma Digital de la FE
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>

      <xs:element name="dQRCode">
        <xs:annotation>
          <xs:documentation>
            G101: String correspondiente al QR code impreso en el CIFE
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="100"/>
            <xs:maxLength value="600"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
  <!-- Final de <xs:complexType name="gNoFirmType">  -->




  <!--||*********************************************||-->
  <!--Tipos de Datos-->
  <!--||*********************************************||-->

  <!--Tipo Ruc-->
  <xs:complexType name="RucType">
    <xs:sequence>
      <xs:element name="dTipoRuc">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Natural</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Jurídico</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dRuc">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="20"/>
            <xs:pattern value="(([P][E][-](([-]|[0-9]){1,17})|[N][-](([-]|[0-9]){1,18})|[E][-](([-]|[0-9]){1,18})|(([-]|[0-9]){5,20}))|(((([0-9]{1})[-][A][V][-](([-]|[0-9]){1,15}))|(([0-9]{2})[-][A][V][-](([-]|[0-9]){1,14})))|((([0-9]{1,2})[-][N][T][-](([-]|[0-9]){1,15}))|(([0-9]{1,2})[-][N][T][-](([-]|[0-9]){1,14}))|([N][T][-](([-]|[0-9]){1,14}))|(([0-9]{1,2})[-][P][I][-](([-]|[0-9]){1,14}))|([P][I][-](([-]|[0-9]){1,14}))|(([0-9]){1,2}[P][I][-](([-]|[0-9]){1,14})))))?"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dDV">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--Tipo Ruc-->
  <xs:complexType name="RucRecType">
    <xs:sequence>
      <xs:element name="dTipoRuc" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1">
              <xs:annotation>
                <xs:documentation>Natural</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
              <xs:annotation>
                <xs:documentation>Jurídico</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dRuc" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="5"/>
            <xs:maxLength value="20"/>
            <xs:pattern value="(([P][E][-](([-]|[0-9]){1,17})|[N][-](([-]|[0-9]){1,18})|[E][-](([-]|[0-9]){1,18})|(([-]|[0-9]){5,20}))|(((([0-9]{1})[-][A][V][-](([-]|[0-9]){1,15}))|(([0-9]{2})[-][A][V][-](([-]|[0-9]){1,14})))|((([0-9]{1,2})[-][N][T][-](([-]|[0-9]){1,15}))|(([0-9]{1,2})[-][N][T][-](([-]|[0-9]){1,14}))|([N][T][-](([-]|[0-9]){1,14}))|(([0-9]{1,2})[-][P][I][-](([-]|[0-9]){1,14}))|([P][I][-](([-]|[0-9]){1,14}))|(([0-9]){1,2}[P][I][-](([-]|[0-9]){1,14})))))?"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dDV" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <!--Email-->
  <xs:simpleType name="emailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-zA-Z#$%]([-.\w]*[0-9a-zA-Z#$%'\\.\\-_])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Fecha_num">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="19000101"/>
      <!--<xs:pattern value="([2][01]|[1][6-9])\d{2}(\s([0-1]\d|[2][0-3])(\:[0-5]\d){1,2})?([0]\d|[1][0-2])([0-2]\d|[3][0-1])"/>
    -->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fechaYMD">
    <xs:restriction base="xs:date">
      <xs:pattern value="\d{4}-\d\d-\d\d"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fechaTZ">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d[+|-]\d\d:\d\d"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="montoTipo01">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{1,11}[.][0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="montoTipo02">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{0,9}[.][0-9]{2}"/>
      <xs:totalDigits value="11"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="montoTipo03">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="^[0-9]{1,11}([,.][0-9]{0,6})?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="montoTipo31">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="^[0-9]{1,9}([.][0-9]{0,6})?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="montoTipo04">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0]|([0-9]{0,9}[.][0-9]{6})"/>
      <xs:totalDigits value="11"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="montoTipo05">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{0,9}[.][0-9]{2,6}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="montoTipo06">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="^[0-9]{1,9}[.][0-9]{2,6}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="cCodUbicType">
    <xs:sequence>

      <!--Codigo de Ubicaciones-->
      <xs:element name="dCodUbi" type="ubicaciones" minOccurs="1" maxOccurs="1"/>

      <!--Corregimiento-->
      <xs:element name="dCorreg" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <!--Distrito-->
      <xs:element name="dDistr" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <!--Provincia-->
      <xs:element name="dProv" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gIdExtType">
    <xs:sequence>

      <!--Numero de pasaporte o Identificación tributario(RUC)-->
      <xs:element name="dIdExt" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <!--País-->
      <xs:element name="dPaisExt" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="telefonoType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3,4}-[0-9]{4}"/>
      <!-- ajustar ficha tecnica-->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gGtinType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="14"/>
      <xs:pattern value="([0]{1})|([0-9]{8})|([0-9]{12,14})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pesoType">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[0-9]{1,11}|[0-9]*[.][0-9]{0,4}"/>
      <xs:totalDigits value="11"/>
    </xs:restriction>
  </xs:simpleType>


</xs:schema>
